.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--theme--color);
    padding: 0 20px;
    margin: 24px 12px;
    color: white;
    border-radius: 25px;
    height: 100px;
}

.heading h1 {
    font-size: 42px;
}

.heading span {
    font-size: 28px;
}

.esport-showcase {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    width: 100%;
    gap: 24px;
}

.esport-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--theme--color);
    color: #fff;
}

.esport-event .team-wrapper img {
    height: 50px;
}

.esport-event .avenue-text {
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.esport-event .event-schedule {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.esport-event .event-schedule * {
    margin: 0;
}

.esport-event .team-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.esport-event .team-wrapper span {
    font-size: 28px;
}

.esport-event .teams {
    display: flex;
    align-items: center;
    gap: 10px;
}

.esport-event .teams > span {
    font-size: 32px;
}

.esport-event .team-wrapper {
    display: flex;
    flex: 1;
}

@media only screen and (max-width: 800px) {
    .heading span {
        display: none;
    }

    .heading .line-vertical {
        display: none;
    }

    .esport-event {
        flex-direction: column;
    }

    .esport-event .teams {
        width: 100%;
        justify-content: center;
    }

    .esport-event .team-wrapper:first-child {
        justify-content: flex-end;
    }

    .esport-event .team-wrapper:last-child {
        justify-content: flex-start;
    }
}