.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--theme--color);
    padding: 0 20px;
    margin: 24px 12px;
    color: white;
    border-radius: 25px;
    height: 100px;
}

.heading h1 {
    font-size: 42px;
}

.heading span {
    font-size: 28px;
}

.team-showcase {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    width: 100%;
}

.teams {
    display: flex;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: var(--theme--color);
}

.team-wrapper img {
    height: 50px;
}

@media only screen and (max-width: 800px) {
    .heading span {
        display: none;
    }

    .heading .line-vertical {
        display: none;
    }
}