*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300;
    margin: 10% auto;
    max-height: 750px;
}

.img{
    background-color: black;
    height: 200px;
    height: 20rem;
    width: auto;
    position:relative;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    /* top: 50%; */
    /* left: 60%; */
    /* width: 500px; */
}

.img img{
    position: absolute;
    top: 150%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 500px;
}

.info{
    text-align: center;
    background-color: white;
    /* padding-top: 30px; */
}

.info p:first-child{
    text-transform: uppercase;
    font-size: 12px;
    margin: 7px 0;
    color:palevioletred;
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: ; */
    background-color: black;
    color: white;
    gap: 10px;
}

.stats p{
    flex-grow: 1;
    text-align: center;
    padding: 20px 15px;
    font-size: 18px;
}

