@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: all 80ms ease-in-out;
}

:root {
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --purple--:rgb(94, 94, 236);
  --theme--color:rgb(15, 52, 67);
  --secondary--color: rgb(67, 198, 172);

  --line-size: 1px;
  --line-color: #7a7a7a;
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5rem;
}

