@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

:root {
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --Pale--blue: hsl(225, 100%, 94%);
  --Bright--blue: rgb(56, 41, 224);
  --Very--pale--blue: hsl(225, 100%, 98%);
  --Desaturated--blue: hsl(224, 23%, 55%);
  --Dark--blue: hsl(223, 47%, 23%);
  --purple--:rgb(94, 94, 236);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main {
  display: flex;
  height: 100vh;
}

.wallpaper{
    background-image: url('/HCINoka3/resource/banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    flex: 1;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: 70px 70px 35px 70px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_brand{
    border-radius: 3rem;
    width: 100px;
    margin-bottom: 30px;
}

.login_text{
    color: black;
    font-size: 2rem;
    margin-bottom: 30px;
}

.login_input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input{
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    padding: 25px 10px 10px;
    color: var(--deep-grey);
}

.login_input span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 10px 5px 0px 15px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus {
  background-color: var(--Very--pale--blue);
  border: 2px solid var(--Dark--blue);
}

.login_input .span-active {
  font-size: 0.7em;
  margin: 8px 10px;
}

.login_icon {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  width: 100%;
}

.login_icon img {
  width: 20px;
}

.button_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 35%;
    height: 35px;
    border-radius: 5px;
}

.login_icon .button_icon:nth-child(1) {
  background-color: blue;
}

.login_icon .button_icon:nth-child(2) {
  background-color: var(--light-grey);
}

.login_icon .button_icon:nth-child(3) {
  background-color: black;
}

.login--checkbox {
  width: 100%;
  margin: 15px 0 50px;
  font-size: 0.9em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.input--checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  margin-right: 8px;
  border-radius: 3px;
}

.input--checkbox:checked {
  background-color: var(--purple--);
}

.input--checkbox:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: 3px solid white; 
  border-width: 0 3px 3px 0;
  margin: 1.3px 6px;
  transform: rotate(45deg);
}

.button_login {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-right: 1rem;
}
  
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.button_login:disabled {
  cursor: auto;
  background-color: white;
  border: 2px solid var(--light-grey);
}
